.page-game-over {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #000;
}

.center-box {
    color: #fff;
    width: 40%;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    .icon {
        margin-top: 20px;
        display: block;
        cursor: pointer;
    }
}